
@{
    ViewBag.Title = "Default";
}

<h2>Default</h2>
<form action="@Url.Action("Test1","Home")">
    <input type="submit" value="1111" />
</form>
<form action="@Url.Action("Test2","Home")">
    <input type="submit" value="2222" />
</form>
<form action="@Url.Action("Test3","Home")">
    <input type="submit" value="3333" />
</form>